html {
  height: 100%;
  width: 100%;
  background-color: grey;
}

.box {
  display: flex;                                
  flex-direction: column;   
  width: 150px;                                  
  background-color:white;                      
  overflow: hidden;
  align-items: center;
  }

.box button {
  width: 100%;
  background-color: #8529e0;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.box button:hover{
  background-color:#5a007a;
}
  